* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #f5f5f5; /*--#FF0710;--*/
	background-image: url(../img/bgsprite.png);
	background-repeat: repeat-x;
}

body {
	height: 100%;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
	background: url(../img/SV_650.png) no-repeat;
	background-position-x: 20%;
}

header {
	height: 65px;
	weight: 100%;
}

.social {

}

section {
	height: 100px;
	width: 1024px;
	margin: auto;
	margin-top: 5px;
	background-color: transparent;
	box-shadow: 2px 2px 2px #ddd;
	border-radius: 10px;
}

.logo {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 2px;
	border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
	background-image: url('../img/logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 2
}

.logo a {
	display: block;
	height: 100%;
}

/*----Список моделей----*/

.models_wrap {
	height: 100px;
	max-height: 100px;
	min-width: 922px;
	padding: 10px;
	float: right;
	border: 1px solid #ddd;
	border-radius: 0 10px 10px 0;
	background-color: #fff;
	background-image: url(../img/models/bg1.jpg);
	background-position: 98%;
	background-repeat: no-repeat;
	background-size: 30%;
	cursor: pointer;
	transition: background-image 0.7s linear;
}

.models_wrap h1 {
	display: block;
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.models_wrap ul {
	min-width: 450px;
	list-style: none;
	position: absolute;
	display: none;
	padding: 0;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 4px 4px 4px #ddd;
}

.models_wrap ul li:first-child{
	border-top: none;
}

.models_wrap ul li {
	padding: 20px;
	min-height: 100px;
	border-top: 1px dotted #ddd;
}

.models_wrap ul li a {
    display: inline-block;
    width: 100%;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-decoration: none;
}

#sv1, #svs1, #sv2, #svs2 {
	background-position-x: 90%;
	background-repeat: no-repeat;
	background-size: contain;
}

#sv1 {
	background-image: url(../img/models/bg2.jpg);
}

#svs1 {
	background-image: url(../img/models/bg1.jpg);
}

#sv2 {
	background-image: url(../img/models/bg5.jpg);
}

#svs2 {
	background-image: url(../img/models/bg8.jpg);
}

/*----END Список моделей----*/

.main {
	height: 600px;
	width: 1024px;
	margin: auto;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #f9f9f9;
	background-image: linear-gradient(top, #fbfbfb, #f6f6f6);
	background-image: -moz-linear-gradient(top, #fbfbfb, #f6f6f6);
	background-image: -o-linear-gradient(top, #fbfbfb, #f6f6f6);
	background-image: -webkit-linear-gradient(top, #fbfbfb, #f6f6f6);
	box-shadow: 4px 4px 4px #ddd;
	overflow: auto;
}

footer {
	height: 40px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #f5f5f5;
	background-image: linear-gradient(top, #f5f5f5, #ccc);
	background-image: -moz-linear-gradient(top, #f5f5f5, #ccc);
	background-image: -o-linear-gradient(top, #f5f5f5, #ccc);
	background-image: -webkit-linear-gradient(top, #f5f5f5, #ccc);
}

footer div {
	width: 1024px;
	margin: auto;
}

footer p {
	display: inline;
	font: 14px 'Open Sans', sans-serif;
	font-weight: 400;
}